body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #222;
    
    color: #fff;
    font-size: 1.5em;
    padding: 15px;
    text-align: right;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    font-size:  em;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.btn:hover {
    background-color: #ddd;
}

.clr{
    
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
    user-select: none;
}